.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  
  .blurred {
    filter: blur(5px); /* Apply blur effect to the content */
    transition: filter 0.3s ease; /* Optional: smooth transition */
  }
  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }