<div class="container-fluid">
    <div class="row my-2">
        <div class="h1 d-flex align-items-center">Users List <i class="pi pi-user user-icon mx-2"></i> <p-tag
                [value]="totalCount.toString()" /></div>
    </div>

    <div class="row">
        @for (filter of filters; track $index) {
        <div class="col-md-4 col-lg-2 p-2">
            <p-floatlabel>
                <input class="w-100" [id]="filter.propertyName" [(ngModel)]="filter.value" pInputText>
                <label [for]="filter.propertyName">{{filter.propertyName| camelToTitleCase}}</label>
            </p-floatlabel>
        </div>
        }
        <div class="col-md-4 col-lg-2 p-2">
            <button class="w-100" (click)="searchUsers()" pButton> Search </button>
        </div>
        <div class="col-md-4 col-lg-2 p-2">
            <button class="w-100 p-button-contrast" (click)="resetFilter()" pButton> Clear </button>
        </div>
    </div>

    <div class="row">
        <p-table [value]="data" [tableStyle]="{ 'min-width': '50rem' }" [resizableColumns]="true" [loading]="isLoading"
            [loadingIcon]="'pi pi-spin pi-cog'" stripedRows>
            <ng-template pTemplate="header">
                <tr>
                    @for (col of columns; track $index) {
                    <th pResizableColumn [pSortableColumn]="col">
                        {{ col | camelToTitleCase}} <p-sortIcon [field]="col" />
                    </th>
                    }
                    @if (columns.length > 0) {
                    <th>
                        Action
                    </th>
                    }

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr>
                    @for (col of columns; track $index) {
                    @if (col == 'active') {
                    <td>
                        <p-tag [severity]="rowData[col] ? 'success' : 'danger'" [value]="rowData[col] ? 'Active' : 'Inactive'" />
                    </td>

                    }
                    @else {
                    <td>
                        {{ rowData[col] }}
                    </td>
                    }
                    }

                    <td>
                        <p-button severity="info" icon="pi pi-pencil" (onClick)="editUser(rowData.id)" />
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <p-paginator [first]="(paginationInfo.pageNo - 1) * paginationInfo.pageSize" [rows]="paginationInfo.pageSize"
            [totalRecords]="totalCount" (onPageChange)="pageChange($event)" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
            [rowsPerPageOptions]="[15, 25, 40]"></p-paginator>
    </div>
</div>